<template>
  <div class="flex justify-center">
    <div class="flex flex-col items-center px-4 py-8">
      <svg viewBox="165.896 132.45 576.91 576.91" class="block w-48 my-2" :class="`text-${selected}-700`">
        <path fill="currentColor" d="M204.541 276.678l249.81-144.228L704.16 276.678v288.456L454.351 709.36l-249.81-144.226z"/>
      </svg>
      <div class="flex items-center my-4">
        <svg viewBox="165.896 132.45 576.91 576.91" class="block w-8" :class="`text-${selected}-700`">
          <path fill="currentColor" d="M204.541 276.678l249.81-144.228L704.16 276.678v288.456L454.351 709.36l-249.81-144.226z"/>
        </svg>
        <h1 class="py-2 mx-2 text-2xl font-medium tracking-wide" :class="`text-${selected}-700`">Projektname</h1>
      </div>
      <div class="w-full">
        <p class="text-xs font-semibold text-gray-400 uppercase">tailwind.config.js</p>
        <p class="w-full px-3 py-1 text-sm italic leading-5 text-gray-600 bg-gray-200 border border-gray-400 rounded-sm">primary: colors.{{ selected }}</p>
      </div>
    </div>
    <div class="px-4 py-4">
      <div
        v-for="color of colors"
        :key="color.name"
        class="w-full max-w-screen-md mx-2 my-2 cursor-pointer"
        @click="selected = color.name"
      >
        <div class="relative z-10 px-2 text-sm font-semibold leading-7 text-white uppercase rounded-t shadow" :class="`bg-${color.name}-500`" v-text="color.name" />
        <div class="flex overflow-hidden rounded-b">
          <div
            v-for="shade of color.shades"
            :key="shade.key"
            class="flex-1 px-2 py-2 t-num"
            :class="`bg-${color.name}-${shade.key} text-${color.name}-${Number.parseInt(shade.key) >= 500 ? '50' : '900'}`"
          >
            <p class="text-sm font-semibold" v-text="shade.key" />
            <p class="text-xs leading-3 opacity-75" v-text="shade.val" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import baseColors from 'windicss/colors'

  const camel2kebab = str => str.replace(/[A-Z]/g, letter => `-${letter.toLowerCase()}`)
  const knownColors = getCSScolors()
  const colors = Object.entries(baseColors)
    .filter(([key, values]) => typeof values !== 'string')
    .map(([key, values]) => ({
      name: camel2kebab(key),
      shades: Object.entries(values).map(d => ({ key: d[0], val: d[1] })).reverse()
    }))
    .filter(d => knownColors.includes(d.name))

  export default {
    name: 'Page',
    components: { },
    data () {
      return {
        isLoading: true,
        colors,
        selected: 'gray'
      }
    },
    methods: {
      fetch () {
        this.isLoading = true

        window.axios
          .get('/api/')
          .then(res => {
            console.log(res)
            this.isLoading = false
          })
      }
    },
    created () {
      this.fetch()
    }
  }

  function getCSScolors () {
    const found = []

    for (const sheet of document.styleSheets) {
      const rules = sheet.rules || sheet.cssRules
      for (const x in rules) {
        if (typeof rules[x].selectorText !== 'string') continue
        const selector = rules[x].selectorText
        if (selector.startsWith('.text-') && selector.endsWith('-400')) found.push(selector.slice(6, -4))
      }
    }

    return found
  }
</script>
