<head>
  <title><%= title %></title>
  <link rel="shortcut icon" href="/static/images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="/static/styles/static.min.css">
<% if (options.webfonts) { %>
  <link rel="stylesheet" type="text/css" href="/static/styles/inter.4.0.css">
<% } else { %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inter&display=swap">
<% } %>
</head>
<body class="flex flex-col min-h-screen pt-16 pb-12 bg-gray-100">
  <main class="flex flex-col justify-center flex-grow w-full px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex justify-center flex-shrink-0">
      <a href="/" class="inline-flex">
        <img class="w-auto h-28" src="/static/images/logo.svg">
      </a>
    </div>
    <div class="py-10">
      <div class="text-center">
        <p class="text-sm font-semibold tracking-wide uppercase text-primary-600">Fehler 404</p>
        <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">Seite nicht gefunden!</h1>
        <p class="mt-2 text-base text-gray-500">Die gesuchte Seite konnte leider nicht gefunden werden.</p>
        <div class="mt-6">
          <a href="/" class="text-base font-medium text-primary-600 hover:text-primary-500">zurück zur Startseite<span aria-hidden="true"> &rarr;</span></a>
        </div>
      </div>
    </div>
  </main>
</body>
