head
  title #{_page.title} - <%= title %>
  meta(name="viewport", content="width=device-width, initial-scale=1")

  // link(rel='shortcut icon', href='/static/images/favicon-16x16.png')
  // link(rel='icon', type='image/png', sizes='32x32', href='/static/images/favicon-32x32.png')
  // link(rel='icon', type='image/png', sizes='16x16', href='/static/images/favicon-16x16.png')

<% if (options.webfonts) { %>
  // link(rel="stylesheet", type="text/css", href="/static/styles/inter.4.0.css")
  // link(rel="stylesheet", type="text/css", href="/static/styles/fa.5.15.min.css")
<% } else { %>
  // link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inter&display=swap")
<% } %>

  block style
