doctype html
html
  include head
  body.bg-gray-50
    block content
      #app
      #store

    block scripts
      script(type="module")
        | import 'virtual:windi.css'
        | import '/layout/main.css'
        | import App from '!{_page.entryPoint}'
        |
        | import { createApp } from 'vue'
        |
        each component in _components
          | import #{component.speaking} from '#{component.file}'
          |
        |
        | const app = createApp(App)
        |
        each component in _components
          |   .component('#{component.title}', #{component.speaking})
          |
        if _isBuild
          | import * as Sentry from "@sentry/vue"
          | import { BrowserTracing } from "@sentry/tracing"
          |
          | Sentry.init({
          |   app,
          |   dsn: window._sentryDSN,
          |   release: `<%= name %>@${window.__version}`,
          |   integrations: [
          |     new BrowserTracing({
          |       tracingOrigins: ['/api/', /^\//]
          |     })
          |   ],
          |   tracesSampleRate: 0.5
          | })
        |
        | app.mount('#app')

      if __env === 'development'
        // script(type='text/javascript', src='/static/sockets/socket.io.js')
        // script(type='text/javascript', src='/static/axios/axios.js')
      else
        if !_page.noIO
          // script(type='text/javascript', src='/static/sockets/socket.io.min.js')
        // script(type='text/javascript', src='/static/axios/axios.min.js')

      each dep in _dependencies
        if dep.startsWith('/static/')
          if dep.endsWith('.css')
            |
            | <!-- link(rel='stylesheet', href='#{dep}') -->
            |
          else
            |
            | <!-- script(type='text/javascript', src='#{dep}') -->
            |
        else
          if dep.endsWith('.css')
            link(rel='stylesheet', href=dep)
          else
            script(type='text/javascript', src=dep)
      if _isBuild
        script.
          window._sentryDSN = '<%% print(_config.sentryDSN) %>';
          window.__version = '!{process.env.CONTAINER_version || 'dev'}';
      else
        script.
          window.__version = '!{process.env.CONTAINER_version || 'dev'}';
