<head>
  <title><%= title %></title>
  <link rel="shortcut icon" href="/static/images/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="/static/styles/static.min.css">
<% if (options.webfonts) { %>
  <link rel="stylesheet" type="text/css" href="/static/styles/inter.4.0.css">
  <link rel="stylesheet" type="text/css" href="/static/styles/fa.5.15.min.css">
<% } else { %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inter&display=swap">
<% } %>
</head>
<body class="bg-gray-100">
  <div class="container flex flex-col items-center justify-center h-screen mx-auto space-y-8">
    <h1 class="text-2xl font-medium text-center">System<br>Aktualisierung</h1>
    <svg width="88" height="88" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" class="block stroke-current text-primary-600">
      <g fill="none" fill-rule="evenodd" stroke-width="2">
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
          <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
        </circle>
        <circle cx="22" cy="22" r="1">
          <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite" />
          <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite" />
        </circle>
      </g>
    </svg>
    <div class="flex justify-center space-x-4 text-sm font-medium leading-5 tracking-wider">
      <p><i id="status_api" class="mr-1 text-base leading-none fa-dot-circle fad fa-fw"></i>API</p>
      <p><i id="status_socket" class="mr-1 text-base leading-none fa-dot-circle fad fa-fw"></i>WS</p>
      <p><i id="status_frontend" class="mr-1 text-base leading-none fa-dot-circle fad fa-fw"></i>UI</p>
    </div>
  </div>

  <script type="text/javascript">
    // class="text-green-500"
    const systems = ['api', 'frontend', 'socket']

    function fetchStatus () {
      fetch('/api/')
        .then(res => res.json())
        .then(data => {
          for (const system of systems) setState(document.getElementById(`status_${system}`), data[system])
          if (['api', 'frontend'].every(d => data[d])) location.reload()
        })
        .catch(err => console.log(err))
    }

    function setState(el, isActive) {
      el.classList.remove('fa-dot-circle')

      if (isActive) {
        el.classList.remove('fa-spinner-third', 'fa-spin')
        el.classList.add('text-green-500', 'fa-check-circle')
      } else {
        el.classList.remove('text-green-500', 'fa-check-circle')
        el.classList.add('fa-spinner-third', 'fa-spin')
      }
    }

    fetchStatus()
    setInterval(() => fetchStatus(), 1000)
  </script>
</body>
