body, .font-reset {
  font-family: 'Inter', sans-serif;
  color: #404E67;
}

@layer components {
  .btn {
    @apply px-3 py-1 font-medium tracking-wide uppercase transition duration-75 ease-linear border select-none focus:outline-none;
  }

  .btn.btn-primary {
    @apply text-primary-700 border-primary-800 hover:text-white focus:text-white hover:bg-primary-800 focus:bg-primary-800;
  }
  .btn.btn-primary-disabled {
    @apply opacity-50 cursor-not-allowed text-primary-800 border-primary-800;
  }

  .btn.btn-secondary {
    @apply text-gray-700 border-gray-800 hover:text-white hover:bg-gray-800 hover:border-gray-800;
  }
  .btn.btn-secondary-disabled {
    @apply text-gray-700 border-gray-800 opacity-50 cursor-not-allowed;
  }

  .btn.btn-tertiary {
    @apply hover:text-gray-800 hover:bg-gray-300;
  }
  .btn.btn-tertiary-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .btn.btn-success {
    @apply  text-white bg-green-600 border-green-600;
  }

  .btn.btn-inset {
    @apply text-gray-700 border-transparent hover:text-white hover:bg-gray-800 hover:border-gray-800;
  }

  .btn.btn-row {
    @apply inline-flex items-center justify-center w-[23px] h-[23px] text-xs leading-none text-gray-600 border-0 rounded-full focus:outline-none focus:text-gray-800 hover:bg-gray-300 hover:text-gray-900;
  }
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {
   font-style: italic;
}
::selection {
  background-color: rgba(98,106,113,1)!important;
  color: #fff;
}
::-moz-selection {
  background-color: rgba(98,106,113,1)!important;
  color: #fff;
}

.loading {
  filter: blur(5px);
  cursor: wait;
  pointer-events: none;
  user-select: none;
}

@layer utilities {
  .bg-blur-1 {
    backdrop-filter: blur(1px);
  }
  .bg-blur-2 {
    backdrop-filter: blur(2px);
  }
  .bg-blur-3 {
    backdrop-filter: blur(3px);
  }
  .bg-blur-4 {
    backdrop-filter: blur(4px);
  }
  .bg-blur-5 {
    backdrop-filter: blur(5px);
  }
}

.spinner {
  position: relative;
}

.spinner:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: currentColor; /* #3D4852 */
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.glow-white {
  filter: drop-shadow(0 0 .5rem #fff) drop-shadow(0 0 1rem #fff);
}
